body {
    background-color: white;
    font-family: 'Montserrat';

}
.background-image {
    background-image: url('../images/water-7565462_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 
}
// .container {
//   background: linear-gradient(rgb(230, 230, 237), rgb(226, 226, 164));
//   height: 60px;  
// }

.search-form {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 30%;
    transform: translate(0);
    z-index: 1;
    padding-top: 10px;
}

.search-form__input{
    width: 400px;
    height: 40px;
    border-radius: 8px;
    background-color: azure;
}
.search-form__btn{
    border-radius: 8px;
    background-color: azure;
}

.search-form__btn>svg{
    color: rgb(1, 1, 14);
   justify-content: center;
   padding-top: 4px;
}
// .search-form-active{
//     justify-content: center;
//     align-items: center;
//     position: fixed;
//     display: flex;
//     top: 0;
//     left: 0;
//     transform: translate(0);
// }
::placeholder{
    color:grey;
    padding-left: 10px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    z-index: 1;
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.photo-card{
    position: relative;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: calc((100% - 30px)/4);
}
.image{
    display: inline-block;
    width: 100%;
}
.info{
    // display: flex;
    overflow: auto;    
    letter-spacing: 0.06em;
    color: #FFFFFF;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(144, 161, 174, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);        
}
.info-item{
    font-size: 14px;
    padding: 0 12px;
}
// .photo-card:hover .image{
//     opacity: 0;
// }
// .photo-card:hover .info-item{
//     transform: translateY(0);
//     opacity: 1;
// }    

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: azure;
}
//   background-image: url(https://www.behance.net/gallery/156351403/FORCES-OF-NATURE-Haifoss-Waterfall-Iceland/modules/882121859); 